
body{
    font-family: sans-serif;
    font-size: 1.3em;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#openmoji-example-toggle{
    padding: 20px;
    background: lightgrey;
    margin-bottom: 20px;
}
